#contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signage {
  font-family: "Great Vibes", cursive;
  color: #ef7725;
  font-size: 3rem;
}

.contact-nr {
  font-size: 1rem;
  color: rgb(7, 7, 7);
}
.email-link {
  text-decoration: none;
  font-size: 1rem;
  color: #ef7725;
  -webkit-transition: 0.2s all ease-in-out;
}

.email-link:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.btn {
  width: 22rem;
}
