* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #f6eedf;
  font-family: Lato, sans-serif;
  height: 100%;
  font-size: 1rem;
  position: relative;
}

.main-content {
  min-height: 92.5vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 55px; /* height of your footer */
}

.services {
  box-sizing: border-box;
  background-color: #f6eedf;
  max-width: 100%;
}

.brand {
  font-family: "Dancing Script", cursive;
  color: #f57b51;
  font-size: 2.25rem;
}

img {
  height: 225px;
  margin: 0px, 20px;
}
/*--------------------- Foot note -----------------------*/
.footer {
  background-color: #f6eedf;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.foot-note {
  color: black;
  padding: 1rem;
  margin-bottom: 0;
}

.foot-note-link {
  text-decoration: none;
  font-size: 1rem;
  color: #ef7725;
  -webkit-transition: 0.2s all ease-in-out;
}

.foot-note-link:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .footer {
    text-align: center;
  }
}
