.services {
  box-sizing: border-box;
  background-color: white;
  max-width: 100%;
}

/*--------------------- Foot note -----------------------*/
.footer {
  display: flex;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.foot-note {
  color: black;
  padding: 1rem;
  margin-bottom: 0;
}

.foot-note-link {
  text-decoration: none;
  font-size: 1rem;
  color: #ef7725;
  -webkit-transition: 0.2s all ease-in-out;
}

.foot-note-link:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}
