/*--------------------- All pages -----------------------*/
body {
  background: url(/img/Mountain.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100vh;
  background-repeat: no-repeat;
}

/*--------------------- NavBar -----------------------*/
.navbar-light .navbar-brand {
  font-family: "Great Vibes", cursive;
  color: rgb(255, 145, 0);
  font-size: 2.5rem;
}

.photography,
.navbar-light .navbar-nav .nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: rgb(255, 145, 0);
  margin-left: 0.5rem;
}

#nav-bar {
  overflow: hidden;
  background-color: rgba(104, 102, 102, 0.603);
}

/*--------------------- Home page -----------------------*/
.home {
  height: 100vh;
  box-sizing: border-box;
  background-color: none;
}

.work {
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
}

.work-title {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Mono", monospace;
  padding: 3rem;
}

.contact {
  height: 20vh;
  box-sizing: border-box;
  background-color: rgb(104, 102, 102);

  display: flex;
  flex-direction: row;
  align-items: center;
}

#contact-me {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.signage {
  font-family: "Great Vibes", cursive;
  color: rgb(255, 145, 0);
  font-size: 3rem;
}

.contact-nr {
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}
.email-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 145, 0);
  -webkit-transition: 0.2s all ease-in-out;
}

.email-link:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  -webkit-transform: scale(2.05);
}

.greeting {
  font-size: 1rem;
  text-align: start;
}

/*--------------------- contact page -----------------------*/

#contactMe {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.heading {
  font-size: 2.5rem;
}
#email-link {
  background-color: rgba(0, 0, 0, 0.513);
  color: #ffffff;
  text-align: center;
}
.link {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s all ease-in-out;
}

.link:hover {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  -webkit-transform: scale(2.05);
}

.quick-search {
  display: block;
  margin: 0 auto;
  width: 90%;
  background-color: transparent;

  border-bottom: 2px solid #7a7a7a;
  border-bottom-width: 2px;
  border-width: 0 0 2px 0;

  height: 25px;
  line-height: 25px;
  font-size: 21px;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
  font-weight: 700;
  color: #9e9c9c;
  letter-spacing: 2px;
}

button {
  height: 35px;
  margin-top: 6px;
  margin-bottom: 25px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid #7a7a7a;
  background-color: #3f3f3f;
  color: #8a8a8a;
  font-family: MontSerrat, Tahoma, Arial, sans-serif;
}

.next-button {
  width: 4rem;
}
.submit-button {
  width: 12rem;
}

/*--------------------- gallery page -----------------------*/
header {
  margin: 0.5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: 0.5vw;
}

header div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  header div {
    margin: 0;
  }
  header {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
